In [1]:
!unzip 'data/서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.zip'

Archive:  data/서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.zip
error:  cannot create +�+��+_+�����++����_+��æ�+�+�����(�+_+���_+�-�++�)_2021��.csv
        Illegal byte sequence

In [3]:
import pandas as pd

In [7]:
house = pd.read_csv('data/서울특별시_전월세가_2022.csv',encoding='cp949')

In [10]:
house.columns

Index(['접수년도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분코드', '지번구분', '본번', '부번',
       '층', '계약일', '전월세구분', '임대면적', '보증금(만원)', '임대료(만원)', '건물명', '건축년도',
       '건물용도', '계약기간', '신규계약구분', '갱신청구권사용', '종전보증금', '종전임대료'],
      dtype='object')

In [11]:
expected_revenue = pd.read_csv('data/서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.csv',encoding='cp949')

In [17]:
expected_revenue.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,626851391,25502,...,157,15667,7253,108,1098,2013,4344,7792,7568,28
1,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,122957138,12039,...,0,6679,4293,52,926,1222,2698,3404,2670,9
2,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5093349,177,...,9,124,36,0,0,9,18,62,71,3
3,2021,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,13507733,1359,...,8,356,881,0,243,260,213,288,235,5
4,2021,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,37551380,128,...,0,56,72,0,0,8,96,8,16,3

In [18]:
expected_revenue.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [19]:
expected_revenue = expected_revenue[[ '상권_코드_명','서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수']]

In [21]:
expected_revenue['mean_revenue']= expected_revenue['분기당_매출_금액']/ expected_revenue['분기당_매출_건수']
expected_revenue.drop(columns=['분기당_매출_금액','분기당_매출_건수'],inplace=True)
expected_revenue

/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/3227621279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_revenue['mean_revenue']= expected_revenue['분기당_매출_금액']/ expected_revenue['분기당_매출_건수']
/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/3227621279.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_revenue.drop(columns=['분기당_매출_금액','분기당_매출_건수'],inplace=True)

            상권_코드_명 서비스_업종_코드_명  mean_revenue
0            이북5도청사       한식음식점  2.458048e+04
1            이북5도청사       분식전문점  1.021324e+04
2            이북5도청사     호프-간이주점  2.877598e+04
3            이북5도청사       커피-음료  9.939465e+03
4            이북5도청사      일반교습학원  2.933702e+05
...             ...         ...           ...
140825  강남 마이스 관광특구          화초  7.060021e+04
140826  강남 마이스 관광특구          가구  1.825841e+06
140827  강남 마이스 관광특구        가전제품  1.960134e+05
140828  강남 마이스 관광특구        인테리어  3.396465e+04
140829  강남 마이스 관광특구      전자상거래업  1.063830e+05

[140830 rows x 3 columns]

In [38]:
expected_revenue['rank_업종별'] = expected_revenue.groupby('서비스_업종_코드_명')['mean_revenue'].rank()

/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/2945686507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_revenue['rank_업종별'] = expected_revenue.groupby('서비스_업종_코드_명')['mean_revenue'].rank()

In [39]:
expected_revenue['rank_상권별'] = expected_revenue.groupby('상권_코드_명')['mean_revenue'].rank()

/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/3442465534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_revenue['rank_상권별'] = expected_revenue.groupby('상권_코드_명')['mean_revenue'].rank()

In [41]:
expected_revenue.drop(columns=['rank'],inplace=True)
expected_revenue

/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/347435719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_revenue.drop(columns=['rank'],inplace=True)

            상권_코드_명 서비스_업종_코드_명  mean_revenue  rank_업종별  rank_상권별
0            이북5도청사       한식음식점  2.458048e+04    1865.0      24.0
1            이북5도청사       분식전문점  1.021324e+04    1846.0       9.0
2            이북5도청사     호프-간이주점  2.877598e+04     939.0      29.0
3            이북5도청사       커피-음료  9.939465e+03    4132.0       8.0
4            이북5도청사      일반교습학원  2.933702e+05    1106.0      45.0
...             ...         ...           ...       ...       ...
140825  강남 마이스 관광특구          화초  7.060021e+04    1891.0      78.0
140826  강남 마이스 관광특구          가구  1.825841e+06     977.5     136.0
140827  강남 마이스 관광특구        가전제품  1.960134e+05     324.0     114.0
140828  강남 마이스 관광특구        인테리어  3.396465e+04     622.5      53.0
140829  강남 마이스 관광특구      전자상거래업  1.063830e+05     488.5      91.0

[140830 rows x 5 columns]

In [47]:
expected_revenue.groupby('서비스_업종_코드_명')['상권_코드_명','rank_업종별'].min().to_csv('업종별 1위 상권.csv')
expected_revenue.groupby('서비스_업종_코드_명')['상권_코드_명','rank_업종별'].min()

/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/2543320795.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  expected_revenue.groupby('서비스_업종_코드_명')['상권_코드_명','rank_업종별'].min().to_csv('업종별 1위 상권.csv')
/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/2543320795.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  expected_revenue.groupby('서비스_업종_코드_명')['상권_코드_명','rank_업종별'].min()

                   상권_코드_명  rank_업종별
서비스_업종_코드_명
PC방                    G타워       1.0
가구            KB국민은행 망원동지점       1.0
가방                    가로수길       1.0
가전제품                 가락시장역       1.0
가전제품수리        KB국민은행 망원동지점       1.0
...                    ...       ...
한의원          DMC(디지털미디어시티)       1.0
핸드폰            KB국민은행 서강지점       1.0
호프-간이주점       4.19민주묘지역 2번       1.0
화장품                   63빌딩       1.0
화초                    63빌딩       1.0

[63 rows x 2 columns]

In [46]:
expected_revenue.groupby('상권_코드_명')['서비스_업종_코드_명','rank_상권별'].min().to_csv('상권별 1위 업종.csv')
expected_revenue.groupby('상권_코드_명')['서비스_업종_코드_명','rank_상권별'].min()

/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/6374777.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  expected_revenue.groupby('상권_코드_명')['서비스_업종_코드_명','rank_상권별'].min().to_csv('상권별 1위 업종.csv')
/var/folders/s3/xdg3f00d5gz2dnfsw7wsjyjc0000gn/T/ipykernel_9354/6374777.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  expected_revenue.groupby('상권_코드_명')['서비스_업종_코드_명','rank_상권별'].min()

              서비스_업종_코드_명  rank_상권별
상권_코드_명
4.19민주묘지역 2번          노래방       1.0
63빌딩                골프연습장       1.0
DMC(디지털미디어시티)       골프연습장       1.0
GS강동자이아파트           골프연습장       1.0
G타워                   PC방       1.0
...                   ...       ...
후암시장                  노래방       1.0
휘문고교사거리             골프연습장       1.0
흑리단길                  네일숍       1.0
흑석2치안센터               미용실       1.0
흑석시장                 가전제품       1.0

[1651 rows x 2 columns]

In [13]:
expected_revenue.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [48]:
raw_data = pd.read_csv('data/서울시_우리마을가게_상권분석서비스(신_상권_추정매출)_2021년.csv',encoding='cp949')
raw_data = raw_data[[ '상권_코드_명','서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수']]

In [53]:
raw_data

            상권_코드_명 서비스_업종_코드_명    분기당_매출_금액  분기당_매출_건수
0            이북5도청사       한식음식점    626851391      25502
1            이북5도청사       분식전문점    122957138      12039
2            이북5도청사     호프-간이주점      5093349        177
3            이북5도청사       커피-음료     13507733       1359
4            이북5도청사      일반교습학원     37551380        128
...             ...         ...          ...        ...
140825  강남 마이스 관광특구          화초    997157377      14124
140826  강남 마이스 관광특구          가구  11911789492       6524
140827  강남 마이스 관광특구        가전제품   1717076948       8760
140828  강남 마이스 관광특구        인테리어     12566919        370
140829  강남 마이스 관광특구      전자상거래업     10000000         94

[140830 rows x 4 columns]